.texterify-dashboard .description {
    font-weight: normal;
    display: inline-block;
    font-size: 13px;
}

.texterify-dashboard .secret-wrapper {
    margin-top: 48px;
    margin-left: 24px;
}

.texterify-dashboard .secret-generate-new {
    margin-top: 4px;
    display: inline-block;
}

.texterify-dashboard .debug-wrapper {
    margin-top: 64px;
    margin-left: 24px;
}
